{% extends "base.html" %}
{% load dict_filters %}
{% block content %}
{% block extra_css %}
<style>
    .container{
        width: 95%; 
        max-width: 95%;
    }
    .messages{
        display: none;
    }
    .potok-card{
        background-color: rgb(245, 245, 245);
        padding: 20px;
        border-radius: 12px;
        margin-top: 12px;
        font-size: large;
        font-weight: 500;
        flex: 1 1 200px;       /* гибкий размер: растёт, сжимается, базовый размер 200px */
        box-sizing: border-box; /* учитываем padding и border в размере */
        min-width: 150px;
    }
    .progress{
        box-shadow: 2px 2px 2px rgb(197, 197, 197);
    }
    .info{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .program{
        background-color: lightgray;
        border-radius: 12px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 10px; 
    }
</style>
{% endblock %}
<div class="col-md-6">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title">Импорт заявок из Excel</h4>
                <form method="post" enctype="multipart/form-data" class="flex-grow-1 d-flex flex-column">
                    {% csrf_token %}
                    <div class="mb-3 flex-grow-1">
                        <label for="id_excel_file" class="form-label">Выберите Excel файл с заявками:</label>
                        <input type="file" class="form-control" id="id_excel_file" name="excel_file" accept=".xlsx,.xls">
                    </div>
                    {% for message in messages %}
                        {% if message.extra_tags == 'succ' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% elif message.extra_tags == 'false' %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="d-flex justify-content-end mt-auto">
                        <input type="submit" class="btn btn-primary" value="Импортировать">
                    </div>
                </form>
            </div>
        </div>
</div>
{% for program, potoks in statistic.items %}
    <h2>
        {{ program }}
    </h2>
    <div class="program">
        {% for potok, data in potoks.items %}
            {% if potok != "topics" %}
                <div class="potok-card">
                    <div class="info">
                        <h3>Поток: {{ potok }}</h3>
                        <p style="text-align: right;">{{ data.listeners }}🧑‍🎓</p>
                    </div>
                    
                    <div>
                        <label>Теория:</label>
                        <div class="progress" style="height: 28px;">
                            <div class="progress-bar" role="progressbar" style="width: {{ data.theory.percent }}%;">{{ data.theory.percent }}%</div>
                        </div>
                        {{ data.theory.done }} / {{ data.theory.total }}
                    </div>

                    <div>
                        <label>Тест:</label>
                        <div class="progress"style="height: 28px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ data.test.percent }}%">{{ data.test.percent }}%</div>
                        </div>
                        {{ data.test.done }} / {{ data.test.total }}
                    </div>

                    <div>
                        <label>Практика:</label>
                        <div class="progress"style="height: 28px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ data.practice.percent }}%">{{ data.practice.percent }}%</div>
                        </div>
                        {{ data.practice.done }} / {{ data.practice.total }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Урок</th>
                    <th scope="col">Теория</th>
                    <th scope="col">Практика</th>
                    <th scope="col">Тестирование</th>
                    <th scope="col">Всего</th>
                </tr>   
            </thead>
            <tbody>
                {% with topics=potoks.topics %}
                    {% for topic, material in topics.items %}
                        <tr>
                            <td>{{topic}}</td>
                            
                            <td >
                                {% if material.theory.total != 0 %}
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar" role="progressbar" style="width: {{ material.theory.percent }}%">{{ material.theory.percent }}%</div>
                                </div>
                                {{material.theory.done}}/{{material.theory.total}}
                                {% endif %}
                            </td>
                            <td >
                                {% if material.practice.total != 0 %}
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ material.practice.percent }}%">{{ material.practice.percent }}%</div>
                                </div>
                                {{material.practice.done}}/{{material.practice.total}}
                                {% endif %}
                            </td>
                            <td>
                                {% if material.test.total != 0 %}
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ material.test.percent }}%">{{ material.test.percent }}%</div>
                                </div>
                                {{material.test.done}}/{{material.test.total}}
                                {% endif %}
                            </td>
                            <td>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ material.total.percent }}%">{{ material.total.percent }}%</div>
                                </div>
                                {{material.total.done}}/{{material.total.total}}
                            </td>
                        </tr>
                    {% endfor %}
                {% endwith %}
            </tbody>
        </table>
    </div>
{% endfor %}
{% endblock %}